@import "../../utils/style/mixins";
@import "./layouts";
@import "./colors";

.container {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: fixed;
    width: 70rem;
    height: 100vh;
    background-image: linear-gradient(
      270deg,
      transparent 20%,
      rgb(49 217 201 / 0.15),
      rgb(49 217 201 / 0.05)
    );
    background-position: left center;
    background-size: cover;
    border-radius: 50%;
    left: 0%;
    top: -10%;
    translate: -70% -10%;
    @media (min-width: 60rem) {
      translate: -50% -10%;
    }
  }
  &::after {
    content: "";
    position: fixed;
    width: 70rem;
    height: 100vh;
    background-image: linear-gradient(
      90deg,
      transparent 20%,
      rgb(49 217 201 / 0.15),
      rgb(49 217 201 / 0.05)
    );
    background-position: left center;
    background-size: cover;
    border-radius: 50%;
    right: 0%;
    bottom: -10%;
    translate: 70% 10%;
    @media (min-width: 60rem) {
      translate: 50% -10%;
    }
  }
}

.wrapper {
  @include layout(column, center, center);
  flex: 1;
}

.value {
  font-size: clamp(2rem, 12vw, 4rem);
  width: min(80%, 55rem);
  text-align: center;
  margin-block-end: 2rem;
}

.cta {
  background-color: $spotlight;
  color: #fff;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 50px;
  letter-spacing: 2px;
  filter: drop-shadow(0 2px 2px rgba(9, 101, 92, 0.639));
  font: {
    size: 1.2rem;
    weight: 700;
  }
  text: {
    align: center;
    decoration: none;
    transform: uppercase;
  }
  &:hover {
    background-image: linear-gradient(rgb(0 0 0 / 0.05), rgb(0 0 0 / 0.15));
  }
}
