@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 1px;
}
@import "./sharedstyles/colors";
:root {
  font-size: 14px;
  color: $textprimary;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}
